<nav>
    <a href="/">
        <strong class="logo">Upravnik Zgrade</strong>
    </a>

    <ul class="nav-links">
        <li><a href="/">pocetna</a></li>
        <li><a href="{{ url_for('about') }}">o nama</a></li>
        <li class="dropdown">
            <a href="/">usluge <span class="arrow">▼</span></a>
            <ul class="dropdown-menu">
                <li><a href="/">Održavanje zgrada</a></li>
                <li><a href="/">Administracija</a></li>
                <li><a href="/">Tehnička podrška</a></li>
                <li><a href="/">Finansije</a></li>
            </ul>
        </li>
        <li><a href="/">dokumentacija</a></li>
        <li><a href="/">prijava kvara</a></li>
        <li><a href="{{ url_for('contact') }}">kontakt</a></li>
    </ul>
</nav>